doctype html
html
  head
    title Prosta strona
    
  body
    h1 Szablon
    br
    h Zdjęcie kotka
    br
    img(src='/images/cat.jpg', alt='Kotek')
    br
    h Zdjęcie drzewka 
    br
    img(src='/pictures/tree.jpg', alt='drzewko')
    br
    h Dźwięk wiatru
    br
    audio(src='/multimedia/wind.mp3', controls)